In [1]:
import pandas as pd

In [4]:
file_path = '/home/dcti-02-11/projects/sql_data/Booking_Data_for_Splendor_Hotel_Groups_Analysis/dataraw/SHG_Booking_Data.xlsx'

df = pd.read_excel(file_path)

In [5]:
df.head()

,Booking ID,Hotel,Booking Date,Arrival Date,Lead Time,Nights,Guests,Distribution Channel,Customer Type,Country,Deposit Type,Avg Daily Rate,Status,Status Update,Cancelled (0/1),Revenue,Revenue Loss
0,1,Resort,2014-07-24,2015-07-01,342,0,2,Direct,Transient,Portugal,No Deposit,0.0,Check-Out,2015-07-01,0,0.0,0.0
1,2,Resort,2013-06-24,2015-07-01,737,0,2,Direct,Transient,Portugal,No Deposit,0.0,Check-Out,2015-07-01,0,0.0,0.0
2,3,Resort,2015-06-24,2015-07-01,7,1,1,Direct,Transient,United Kingdom,No Deposit,75.0,Check-Out,2015-07-02,0,75.0,0.0
3,4,Resort,2015-06-18,2015-07-01,13,1,1,Corporate,Transient,United Kingdom,No Deposit,75.0,Check-Out,2015-07-02,0,75.0,0.0
4,5,Resort,2015-06-17,2015-07-01,14,2,2,Online Travel Agent,Transient,United Kingdom,No Deposit,98.0,Check-Out,2015-07-03,0,196.0,0.0

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 17 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Booking ID            119390 non-null  int64
 1   Hotel                 119390 non-null  object
 2   Booking Date          119390 non-null  datetime64[ns]
 3   Arrival Date          119390 non-null  datetime64[ns]
 4   Lead Time             119390 non-null  int64
 5   Nights                119390 non-null  int64
 6   Guests                119390 non-null  int64
 7   Distribution Channel  119390 non-null  object
 8   Customer Type         119390 non-null  object
 9   Country               118902 non-null  object
 10  Deposit Type          119390 non-null  object
 11  Avg Daily Rate        119390 non-null  float64
 12  Status                119390 non-null  object
 13  Status Update         119390 non-null  datetime64[ns]
 14  Cancelled (0/1)       119390 non-null  int64
 15  Revenue               119390 non-null  float64
 16  Revenue Loss          119390 non-null  float64
dtypes: datetime64[ns](3), float64(3), int64(5), object(6)
memory usage: 15.5+ MB

In [7]:
csv_file_path = '/home/dcti-02-11/projects/sql_data/Booking_Data_for_Splendor_Hotel_Groups_Analysis/dataderived/SHG_Booking_Data.csv'

df.to_csv(csv_file_path, index=False)